/* Main CSS file */

body {
  overflow: scroll;
}

.active a{
    color: grey !important;
}

.selectorBar { /* !important to avoid changing with the theme */
  color: #212529!important;
  background-color: #FFF!important;
  font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"!important;
  font-size: var(--bs-body-font-size)!important;
  filter: none!important;
}


/* Article columns */
.artiCol {
    height: 66vh;
    overflow-y: scroll;
}

/* Metadata columns */
.metaCol {
    height: 18vh;
    overflow-y: scroll;
}

.metaTitle {
  font-weight: 700;
}


.navbar {
  height: 80pt;
}


/* Slim scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
/* END of slim scrollbar */


/* Representative image of the articles */
.articleImg {
  width: 100%;
}

.imgSource {
  font-size: x-small;
}

.imgCaption {
  font-size: smaller;
}


/* Some article elements:
Bigger first letter; ASIDE text */

.big-first-letter::first-letter {
  font-size: 200%;
}

aside { /* Side notes in the text of the articles */
  width: 30%;
  text-align: center;
  margin-right: 15px;
  float: left;
  font-style: italic;
  font-size: larger;
  border: 1px;
  border-style: solid none;
}
