/* Style 1 */

body {
 background-color: #ebebeb;
}

button {
border-radius: 50px;
border-color: transparent;
background: #ebebeb;
box-shadow:  20px 20px 60px #c8c8c8,
             -20px -20px 60px #ffffff;
}

.article {
  color: lightgray;
}

/* Navbar doesn't have to change
.navbar-light .navbar-nav .nav-link.active {
  color: lightgray!important;
}

.navbar-brand {
  color: lightgray!important;
}
*/

/* Because we don't want to change the color of icons
img.itemIcon {
  filter: invert(100%);
}
*/



/* Slim scrollbar */
::-webkit-scrollbar {
    width: 12px;
    background-color: lightgray;
}
/* END of slim scrollbar */
