/* Style 1 */

body {
  background-color: darkgray;
  color: lightgray;
  font-family: "Wingdings"
}

.article {
  color: lightgray;
}

.navbar-light .navbar-nav .nav-link.active {
  color: lightgray!important;
}

.navbar-brand {
  color: lightgray!important;
}

img.itemIcon {
  filter: invert(100%);
}



/* Slim scrollbar */
::-webkit-scrollbar {
    width: 12px;
    background-color: lightgray;
}
/* END of slim scrollbar */
