/* Style 3 */

@font-face {
  font-family: "ZineTime";
  src: url("./fonts/style3/ZineTime.otf");
}

@font-face {
  font-family: "Pool Riders";
  src: url("./fonts/style3/Pool\ Riders\ Regular.otf");
}
@font-face {
  font-family: "Simple Things";
  src: url("./fonts/style3/SimpleThings-Regular.woff");
}

h1 {
  font-family: ZineTime;
}

.subtitle {
  text-transform: uppercase;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

body {
  background-color: black;
  color: white;
  font-family: Simple Things;
  cursor: url(middlefinger.png), auto;
}

.article {
  color: green;
}

img {
  filter: brightness(80%) saturate(139%) contrast(198%);
-webkit-filter: brightness(80%) saturate(139%) contrast(198%);
-moz-filter: brightness(80%) saturate(139%) contrast(198%);
-ms-filter: brightness(80%) saturate(139%) contrast(198%) ;
-o-filter: brightness(80%) saturate(139%) contrast(198%);
}

/* NAVBAR doesn't have to change!
.navbar-light .navbar-nav .nav-link.active {
  color: green!important;
}

.navbar-brand {
  color: green!important;
}
*/

/* Because we don't want to change the color of icons
img.itemIcon {
  filter: hue-rotate(90deg);
}
*/


/* Slim scrollbar */
::-webkit-scrollbar {
    width: 12px;
    background-color: ghostwhite;
}
/* END of slim scrollbar */
