/* @import url('https://fonts.cdnfonts.com/css/belle-epoque');

* {
	font-family: 'Belle Epoque', sans-serif;
} */

@font-face{
 font-family: "Bembo";
 src: url("./fonts/style1/BemboStd.otf");
}

@font-face{
 font-family: "FloralCapitals";
 src: url("./fonts/style1/FloralCapitals.ttf");
}

@font-face{
 font-family: "ArabesqueInitialen";
 src: url("./fonts/style1/ArabesqueInitialen.ttf");
}

body {
  background-color: #F2EFDC;
  color: #1D1A13;
  font-family: Bembo;
  font-size: 18px;
}

.h1 {
  color: #B63323;
  font-family: Bembo;
  font-size: 30px;
}

.big-first-letter {
  font-family: ArabesqueInitialen;
  font-size: 50px;
}

.subtitle {
  color: #B63323;
  font-family: Bembo;
  font-size: 30px;
}

.articleImg {
  filter: sepia(100%); 
  -webkit-filter: sepia(100%);
}





