/* Style 2 */

@font-face {
  font-family: "MilestoneFreeVersion-Script";
  src: url("./fonts/style2/MilestoneFreeVersion-Script.otf");
}

@font-face {
  font-family: "Roots";
  src: url("./fonts/style2/Roots.ttf");
}

h1 {
  font-family: MilestoneFreeVersion-Script;
  color: black;
}

body {
  background-color: #FAF8F9;
  color: black;
  font-family: Roots;
  cursor: url("../img/style2/50hand.png"), auto;
}

.cursor {
  position: absolute; /* so it is out of the flow */
  width: 20px;
  height: 20px;
  background: white;
  mix-blend-mode: difference;
  border-radius: 50%;
  transform: translate(-50%, -50%); /* so it is center with the cursor pointer */
  transition: 200ms ease-out;
}



/*
.article {
  color: lightgray;
}

.navbar-light .navbar-nav .nav-link.active {
  color: lightgray!important;
}

.navbar-brand {
  color: lightgray!important;
}

img.itemIcon {
  filter: invert(100%);
}



/* Slim scrollbar */
::-webkit-scrollbar {
    width: 12px;
    background-color: lightgray;
}
/* END of slim scrollbar */
