/* Style 3 */

@font-face {
  font-family: "ZineTime";
  src: url("./fonts/style3/ZineTime.otf");
}

@font-face {
  font-family: "Black Casper";
  src: url("./fonts/style3/BlackCasper.ttf");
}

@font-face {
  font-family: "Doctor Punk";
  src: url("./fonts/style3/doctor\ punk.otf");
}
@font-face {
  font-family: "Simple Things";
  src: url("./fonts/style3/SimpleThings-Regular.woff");
}

h1 {
  font-family: Doctor Punk;
  color: black;
  text-align: center;
}

h2, h3, .subtitle {
  font-family: ZineTime;
}

/*
.subtitle {
  text-transform: uppercase;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
*/

body {
  background-color: white;
  background-image: url(zine.png);
  background-size: contain;
  color: black;
  font-family: Simple Things;
}

/* coverissue */

#issueMeta {
  text-align: center;
  
}

#cover1 {
 
}

#issueArticles {
  text-align: center;
  height: auto;
}

.metaTitle {

  text-transform: uppercase;
}

#artN1, #artN2, #artN3 {
  
  color: black;
}

#btnIssue {
  border-radius: 50%;
  border: 1px solid black;
  padding: 18px;
}

/* articles */

.mention {
 background-image: url(mention.png);
 background-size: contain;

}

/* nav-tabs */

.nav-tabs .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
  justify-content: start !important;
  border-bottom: transparent;
  font-family: Doctor Punk;
}

.nav-tabs .nav-link.active {
 
}

#tabs1, #tabs2, #tabs3 {
  justify-content: space-evenly !important;
  border-bottom: transparent;
}


.articleImg {
  filter: brightness(80%) saturate(139%) contrast(198%);
  -webkit-filter: brightness(80%) saturate(139%) contrast(198%);
  -moz-filter: brightness(80%) saturate(139%) contrast(198%);
  -ms-filter: brightness(80%) saturate(139%) contrast(198%) ;
  -o-filter: brightness(80%) saturate(139%) contrast(198%);
}


.imgFrame {
 width: 100%;
 height: 100%;
 position: relative;
 top: 0;
 left: 0;
}

/* NAVBAR doesn't have to change!
.navbar-light .navbar-nav .nav-link.active {
  color: green!important;
}

.navbar-brand {
  color: green!important;
}
*/

/* Because we don't want to change the color of icons
img.itemIcon {
  filter: hue-rotate(90deg);
}
*/


/* Slim scrollbar */
::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}
/* END of slim scrollbar */


#article1, #article2, #article3 {

}
