/* Style 2 */

@font-face {
  font-family: "MilestoneFreeVersion-Script";
  src: url("./fonts/style2/MilestoneFreeVersion-Script.otf");
}

@font-face {
  font-family: "Roots";
  src: url("./fonts/style2/Roots.ttf");
}

h1 {
  font-family: MilestoneFreeVersion-Script;
  color: black;
}

body {
  background-color: #FAF8F9;
  color: black;
  font-family: Roots;
  cursor: url(50hand.png), auto;
}


img {
filter: grayscale(6%) brightness(85%) saturate(216%) contrast(55%);
-webkit-filter: grayscale(6%) brightness(85%) saturate(216%) contrast(55%);
-moz-filter: grayscale(6%) brightness(85%) saturate(216%) contrast(55%);
-ms-filter: grayscale(6%) brightness(85%) saturate(216%) contrast(55%);
-o-filter: grayscale(6%) brightness(85%) saturate(216%) contrast(55%);
}
/*
.article {
  color: lightgray;
}

.navbar-light .navbar-nav .nav-link.active {
  color: lightgray!important;
}

.navbar-brand {
  color: lightgray!important;
}

img.itemIcon {
  filter: invert(100%);
}

*/

#article1::-webkit-scrollbar { 
  width: 10px;
}

#article1::-webkit-scrollbar-track {
  background-color: transparent;
}

#article1::-webkit-scrollbar-thumb {  
  border-radius: 10px;
  min-height: 20px;
  background-color: #D62929;
  background-image: -webkit-linear-gradient(45deg,
                                            rgba(255, 255, 255, .2) 25%,
                                            transparent 25%,
                                            transparent 50%,
                                            rgba(255, 255, 255, .2) 50%,
                                            rgba(255, 255, 255, .2) 75%,
                                            transparent 75%,
                                            transparent)
}

#article2::-webkit-scrollbar { 
  width: 10px;
}

#article2::-webkit-scrollbar-track {
  background-color: transparent;
}

#article2::-webkit-scrollbar-thumb {  
  border-radius: 10px;
  min-height: 20px;
  background-color: #D62929;
  background-image: -webkit-linear-gradient(45deg,
                                            rgba(255, 255, 255, .2) 25%,
                                            transparent 25%,
                                            transparent 50%,
                                            rgba(255, 255, 255, .2) 50%,
                                            rgba(255, 255, 255, .2) 75%,
                                            transparent 75%,
                                            transparent)
}

#article3::-webkit-scrollbar { 
  width: 10px;
}

#article3::-webkit-scrollbar-track {
  background-color: transparent;
}

#article3::-webkit-scrollbar-thumb {  
  border-radius: 10px;
  min-height: 20px;
  background-color: #D62929;
  background-image: -webkit-linear-gradient(45deg,
                                            rgba(255, 255, 255, .2) 25%,
                                            transparent 25%,
                                            transparent 50%,
                                            rgba(255, 255, 255, .2) 50%,
                                            rgba(255, 255, 255, .2) 75%,
                                            transparent 75%,
                                            transparent)
}

#metaData1::-webkit-scrollbar { 
  width: 10px;
}

#metaData1::-webkit-scrollbar-track {
  background-color: transparent;
}

#metaData1::-webkit-scrollbar-thumb {  
  border-radius: 10px;
  min-height: 20px;
  background-color: #D62929;
  background-image: -webkit-linear-gradient(45deg,
                                            rgba(255, 255, 255, .2) 25%,
                                            transparent 25%,
                                            transparent 50%,
                                            rgba(255, 255, 255, .2) 50%,
                                            rgba(255, 255, 255, .2) 75%,
                                            transparent 75%,
                                            transparent)
}

#metaData2::-webkit-scrollbar { 
  width: 10px;
}

#metaData2::-webkit-scrollbar-track {
  background-color: transparent;
}

#metaData2::-webkit-scrollbar-thumb {  
  border-radius: 10px;
  min-height: 20px;
  background-color: #D62929;
  background-image: -webkit-linear-gradient(45deg,
                                            rgba(255, 255, 255, .2) 25%,
                                            transparent 25%,
                                            transparent 50%,
                                            rgba(255, 255, 255, .2) 50%,
                                            rgba(255, 255, 255, .2) 75%,
                                            transparent 75%,
                                            transparent)
}

#metaData3::-webkit-scrollbar { 
  width: 10px;
}

#metaData3::-webkit-scrollbar-track {
  background-color: transparent;
}

#metaData3::-webkit-scrollbar-thumb {  
  border-radius: 10px;
  min-height: 20px;
  background-color: #D62929;
  background-image: -webkit-linear-gradient(45deg,
                                            rgba(255, 255, 255, .2) 25%,
                                            transparent 25%,
                                            transparent 50%,
                                            rgba(255, 255, 255, .2) 50%,
                                            rgba(255, 255, 255, .2) 75%,
                                            transparent 75%,
                                            transparent)
}



