/* @import url('https://fonts.cdnfonts.com/css/belle-epoque');

* {
	font-family: 'Belle Epoque', sans-serif;
} */

@font-face{
 font-family: "Bembo";
 src: url("./fonts/style1/BemboStd.otf");
}

@font-face{
 font-family: "ArabesqueInitialen";
 src: url("./fonts/style1/ArabesqueInitialen.ttf");
}

@font-face{
  font-family: "Flanker Reg";
  src: url("./fonts/style1/flanker-griffo.regular.otf");
 }

 @font-face{
  font-family: "Flanker Italic";
  src: url("./fonts/style1/flanker-griffo.italic.ttf");
 }

 @font-face{
  font-family: "Flanker Bold";
  src: url("./fonts/style1/flanker-griffo.bold.ttf");
 }

 @font-face{
  font-family: "Flanker BoldIt";
  src: url("./fonts/style1/flanker-griffo.bold-italic.ttf");
 }

body {
  background-color: #f6f1e8;
  color: #1D1A13;
  font-family: Flanker Reg;
  font-size: 18px;
  text-align: justify;
}

#cover1 {
  width: 550px;
  height: 18vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: 20px solid;
  border-image: url(cornice2.png) 30 fill / 8px / 30px space;
  border-image-outset: 0;
  border-image-repeat: round;
  border-width: 100px;
  padding: 20px;
}

#issueMeta {
  text-align: center;
  height: 18vh;
  overflow-y: scroll;
}

#issueArticles {
  text-align: center;
  height: auto;
}

/* nav-tabs */

.nav-tabs .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
  border: 0;
  border-bottom: 1px solid black;
  color: #B63323;
}

.nav-tabs .nav-link.active {
  color: white;
  background-color: #B63323;
  border-radius: 0;
  border-bottom: 2px solid #B63323;
}

/* articles */

h1 {
  color: #B63323;
  font-family: Flanker Bold;
  font-size: 30px;
  text-transform: uppercase;
}

h2 {
  color: #B63323;
  text-transform: uppercase;
}

h3 

.big-first-letter {
  font-family: ArabesqueInitialen;
  font-size: 80px;
  opacity: 70%;
}

.subtitle {
  color: black;
  font-family: Flanker BoldIt;
  font-size: 30px;
}

.imgSource {
font-family: Flanker Italic;
font-size: 11px;
text-transform: uppercase;
}

.imgCaption{
  font-family: Flanker Italic;
  font-size: 16px;
}

.byline {
  font-family: Flanker BoldIt;
}

.publicationDate {
  font-family: Flanker Italic;
  font-size: 11px;
}

a {
  color: #B63323;
}
a:hover {
  color: black;
}

.wmf-wp-with-preview {
  color: #B63323 !important;
  font-family: Flanker Reg !important;
  border-bottom: 1px dashed #B63323 !important;
}

li.artiCol {
 list-style: square !important;
}

img {
filter: grayscale(90%);
// Browser Specific
-webkit-filter: grayscale(90%);
-moz-filter: grayscale(90%);
-o-filter: grayscale(90%);
-ms-filter: grayscale(90%);
width: auto; 
}

.author {
  color: #f6f1e8;
  background-color: gray;
  font-family: Flanker Italic;
}

.endTags {
  color: #f6f1e8;
  background-color: gray;
}

hr {
    border:0;
    margin:5px;
    height:40px;
    background:url(decor.png);
}

#endArt {
  content: url(ulogo_manuzio.png);
  height: auto;
  width: auto;
  margin: 5px;
}

.artiCol {
  cursor: url(pointer2.png), pointer;
}

/*
#space {
  content: url(decoration.png);
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}


#frame1, #frame2, #frame3 {
  content: url(framestyle1.png);
  height: 150px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  opacity: 80%;
}
*/

#metaData1, #metaData2, #metaData3 {
  height: 36vh;
}


#frameData1, #frameData2, #frameData3 {
    width: auto;
    border: 30px solid;
    border-image: url(frame1style1.png) 130;
    border-image-repeat: round;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*scrollbar */
#article1::-webkit-scrollbar-track {
  background-image: url(latosx.png);
  background-size: contain;
}
#article1::-webkit-scrollbar {
  width: 35px;
}
#article1::-webkit-scrollbar-thumb {
  background-color: #B63323;
  height: 10px;
  border-radius: 100px;
}

#article2::-webkit-scrollbar-track {
  background-image: url(latosx.png);
  background-size: contain;
}
#article2::-webkit-scrollbar {
  width: 35px;
}
#article2::-webkit-scrollbar-thumb {
  background-color: #B63323;
  height: 10px;
  border-radius: 100px;
}

#article3::-webkit-scrollbar-track {
  background-image: url(latosx.png);
  background-size: contain;
}
#article3::-webkit-scrollbar {
  width: 35px;
}
#article3::-webkit-scrollbar-thumb {
  background-color: #B63323;
  height: 10px;
  border-radius: 100px;
}

#metaData1::-webkit-scrollbar-track {
  background-image: url(latosx.png);
  background-size: contain;
}
#metaData1::-webkit-scrollbar {
  width: 35px;
  display: none;
}
#metaData1::-webkit-scrollbar-thumb {
  background-color: #B63323;
  height: 10px;
  border-radius: 100px;
}
#metaData2::-webkit-scrollbar-track {
  background-image: url(latosx.png);
  background-size: contain;
}
#metaData2::-webkit-scrollbar {
  width: 35px;
  display: none;
}
#metaData2::-webkit-scrollbar-thumb {
  background-color: #B63323;
  height: 10px;
  border-radius: 100px;
}

#metaData3::-webkit-scrollbar-track {
  background-image: url(latosx.png);
  background-size: contain;
}
#metaData3::-webkit-scrollbar {
  width: 35px;
  display: none; 
}
#metaData3::-webkit-scrollbar-thumb {
  background-color: #B63323;
  height: 10px;
  border-radius: 100px;
  
}


