/* Style 3 */

@font-face {
  font-family: "ZineTime";
  src: url("./fonts/style3/ZineTime.otf");
}

@font-face {
  font-family: "Black Casper";
  src: url("./fonts/style3/BlackCasper.ttf");
}

@font-face {
  font-family: "Doctor Punk";
  src: url("./fonts/style3/doctor\ punk.otf");
}
@font-face {
  font-family: "Simple Things";
  src: url("./fonts/style3/SimpleThings-Regular.woff");
}

/* topbar */

.headerCustom {
  background-color: transparent !important;
}
.headerCustom h1 {
  color: fuchsia;
}
#topBar {
 
}

/* footer */ 

.footerCustom {
  background-color: transparent !important;
}
.footerCustom p {
}

h1 {
  font-family: Doctor Punk;
  color: black;
  text-align: center;
}

h2, h3, .subtitle {
  font-family: ZineTime;
}

body {
  background-color: white;
  background-image: url(zine.png);
  background-size: contain;
  color: black;
  font-family: Simple Things;
}

a {
  color: fuchsia;
}
a:hover {
  color: black;
}

.wmf-wp-with-preview {
  color: fuchsia !important;
  font-family: Zine Time !important;
  border-bottom: 1px dashed fuchsia !important;
}

/* homepage

#harvardTest, #learnANewWord {
  background-color: transparent !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  height: 38vh;
}
 */

#mainBody {
  background-image: url(coverstyl3.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-origin: margin-box;
  background-size: 400px;
}

.customCol{
  background-color: transparent !important;
}

/* coverissue */

.coverCustom {
  background-color: transparent !important;
}

#art1 {
  transform: rotate(-5deg);
  position: relative;
}
#art2 {
  transform: rotate(5deg);
  position: relative;
  top: 50px;
}
#art3 {
  transform: rotate(-5deg);
  position: relative;
  top: 50px;
}

#coverstyle1 {
  background-image: url(sexpistols.png), url(coverstyl3.png);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom right, top left;
  background-origin: content-box, margin-box;
  background-size: auto, 400px;
}

#issueMeta{
  text-align: center;
  padding: 90px 10px 90px 90px;
  margin-left: auto;
  margin-right: auto;
  height: 36vh;
  overflow-y: clip;
}

#cover1 {
  background-image: url(tornpaper.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  height: 40vh;
}

#issueArticles {
  text-align: center;
  height: auto;
}

.metaTitle {
  font-family: ZineTime;
}

#artN1, #artN2, #artN3 {
  font-family: ZineTime;
  color: black;
}

#openIssue {
  margin-top: 40px;
}
#btnIssue {
  padding: 20px;
  background-image: url(btn3.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: black;
}


/* articles */

.mention {
 background-image: url(mention.png);
 background-size: contain;
 color: fuchsia;
}

/* nav-tabs */

.nav-tabs .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
  justify-content: start !important;
  border-color: transparent !important;
  font-family: Doctor Punk;
  background-image: url(circle4.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: black;
  font-size: 18px;
}

.nav-tabs .nav-link.active {
  border-color: transparent !important;
  background-color: transparent !important;
  color: rgb(255, 0, 255);
}

#tabs1, #tabs2, #tabs3 {
  justify-content: space-evenly !important;
  border-bottom: transparent;
}


#metaData1, #metaData2, #metaData3 {
  background-image: url(tornpaper.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  height: 38vh;
}

#frameData1, #frameData2, #frameData3 {
  height: 24vh;
  overflow-y: scroll;
  margin-top: 60px;
}

.articleImg {
  filter: brightness(80%) saturate(139%) contrast(198%);
  -webkit-filter: brightness(80%) saturate(139%) contrast(198%);
  -moz-filter: brightness(80%) saturate(139%) contrast(198%);
  -ms-filter: brightness(80%) saturate(139%) contrast(198%) ;
  -o-filter: brightness(80%) saturate(139%) contrast(198%);
}


.imgFrame {
 width: 100%;
 height: 100%;
 position: relative;
 top: 0;
 left: 0;
}

/* Slim scrollbar */
::-webkit-scrollbar {
    display: none;
}
/* END of slim scrollbar */


#metaData1 {
  transform: rotate(2deg);
  position: relative;
}
#metaData1:hover {
  transform: rotate(-2deg);
  top: -1.5em;
  position: relative;
}
#metaData2 {
  transform: rotate(-3deg);
  position: relative;
}
#metaData2:hover {
  transform: rotate(3deg);
  top: -1.5em;
  position: relative;
}

#metaData3 {
  transform: rotate(1deg);
  position: relative;
}

#metaData3:hover {
  transform: rotate(-1deg);
  top: -1.5em;
  position: relative;
}

#article1 {
  transform: rotate(-2deg);
  position: relative;
}

#article1:hover {
  transform: rotate(4deg);
  top: -1.5em;
  position: relative;
}

#article2 {
  transform: rotate(3deg);
  position: relative;
}
#article2:hover {
  transform: rotate(-2deg);
  top: -1.5em;
  position: relative;
}

#article3 {
  transform: rotate(-3deg);
  position: relative;
}
#article3:hover {
  transform: rotate(3deg);
  top: -1.5em;
  position: relative;
}