/* Style 2 */

@font-face {
  font-family: "MilestoneFreeVersion-Script";
  src: url("./fonts/style2/MilestoneFreeVersion-Script.otf");
}

@font-face {
  font-family: "Roots";
  src: url("./fonts/style2/Roots.ttf");
}

h1 {
  font-family: MilestoneFreeVersion-Script;
  color: black;
}

body {
  background-color: #FAF8F9;
  color: black;
  font-family: Roots;
  cursor: url(50hand.png), auto;
}


img {
filter: grayscale(6%) brightness(85%) saturate(216%) contrast(55%);
-webkit-filter: grayscale(6%) brightness(85%) saturate(216%) contrast(55%);
-moz-filter: grayscale(6%) brightness(85%) saturate(216%) contrast(55%);
-ms-filter: grayscale(6%) brightness(85%) saturate(216%) contrast(55%);
-o-filter: grayscale(6%) brightness(85%) saturate(216%) contrast(55%);
}
/*
.article {
  color: lightgray;
}

.navbar-light .navbar-nav .nav-link.active {
  color: lightgray!important;
}

.navbar-brand {
  color: lightgray!important;
}

img.itemIcon {
  filter: invert(100%);
}



/* Slim scrollbar */
::-webkit-scrollbar {
    width: 12px;
    background-color: lightgray;
}
/* END of slim scrollbar */
